*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
html,body{
    height : 100%;
    width : 100%;
    /* background-image: url("https://i.pinimg.com/1200x/c9/eb/22/c9eb22fc1817992f56f2f6a59ed0ccce.jpg");
    background-size: cover; */
    background-color: rgb(243, 214, 152) ;
}
.offer{
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(9, 26, 37);
    color : white;
    height : 35px;
    padding : 6px;
    font-size: 13px;
}

#cafe-name{
    user-select : none;
    text-align : center;
    font-size : 60px;
    color:rgb(95, 29, 29);
    transform : translateZ(2px);
    transition : translate 0.3s ease;
}
#desc {
    font-size : 15px;
    text-align : center;
}

.filternames{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 50px;
    gap : 19px;
}
.btn{
    padding : 8px 19px;
    border-radius : 13px;
    background-color: rgb(95,29,29);
    color :white;
}

.btn:hover{
    background-color: rgb(136, 64, 64);
    cursor : pointer;
    transform: translateY(-4px);
}
